@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hair {
  width: auto;
  min-width: 1200px;
  height: 106px;
  background-color: rgb(19, 19, 184);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.headerTop {
  height: 46px;
  border-bottom: 1px solid lightgray;
  text-align: center;
}

.logo {
  width: 90px;
  margin-top: 10px;
}

.headerBottom {
  height: 70px;
  border-bottom: 10px solid rgb(0, 177, 138);
}

.headerBottom nav {
  height: 60px;
}

.navigation {
  height: 60px;
  display: flex;
  justify-content: space-around;
}

.menu {
  width: 141.6px;
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 60px;
}

.route {
  color: white;
}

.mainManager {
  padding-top: 116px;
  width: auto;
  min-width: 1200px;
  height: 1000px;
  background-color: #ffffff;
}

.tab a {
  color: lightgray;
}

.tab {
  padding-top: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

.tab li {
  width: 140px;
  text-align: center;
}

.history {
  font-size: 32px;
  font-weight: bold;
}

.history p {
  line-height: 55px;
}

.inner {
  margin: 0 auto;
  height: 700px;
  width: 100%;
  max-width: 1200px;
  background-color: gray;
  background-image: url("../../public/img/logo.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  position: relative;
  overflow: hidden;
  isolation: isolate;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.inner::after {
  content: "";
  position: absolute;
  background: white;
  z-index: -1;
  inset: 0;
  opacity: 0.9;
}

.inner2 {
  margin: 0 auto;
  height: 500px;
  width: 100%;
  max-width: 1200px;
  background-color: lightgray;
  background-image: url("../../public/img/logo.png");
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: center;
  position: relative;
  overflow: hidden;
  isolation: isolate;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.inner2::after {
  content: "";
  position: absolute;
  background: white;
  z-index: -1;
  inset: 0;
  opacity: 0.01;
}

.kim {
  width: 320px;
  margin-top: 250px;
}

.file {
  font-weight: bold;
}

.first {
  font-size: 80px;

  color: blue;
}

.second {
  font-size: 48px;
  color: blue;
}

.third {
  font-size: 32px;
  color: rgb(66, 66, 66);
}

.fourth {
  font-size: 24px;
  color: rgb(66, 66, 66);
}

.fifth {
  font-size: 20px;
  color: rgb(66, 66, 66);
}

.grade {
  opacity: 0.9;
}
